<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/style.css" rel="stylesheet" type="text/css" />
    <body>
      <% include partials/nav.ejs %>
      <h1>Contact Successfull</h1>
      <p>You email has been sent to <%= data.who %> of <%= data.department %> department.</p>
      <p>We will contact you @ <%= data.email %>.</p>

    </body>
  </head>
</html>
