<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/style.css" rel="stylesheet" type="text/css" />
    <body>
      <% include partials/nav.ejs %>
      <h1>Welcome to Sand Corporation</h1>
      <p>Website is under construction</p>
    </body>
  </head>
</html>
